DPO.Domain/DPO.Domain/Service References/DataQualityService/DataQualityService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://goodmanmfg.com/GMC/WebService/DataQualityService" elementFormDefault="qualified" targetNamespace="http://goodmanmfg.com/GMC/WebService/DataQualityService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://warranty.goodmanmfg.com/Services/DataQualityServices/DataQualityService.svc?xsd=xsd1" namespace="http://goodmanmfg.com/GMC/WebService/DataQualityService/Entities" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://goodmanmfg.com/GMC/WebService/DataQualityService/Entities" minOccurs="0" name="request" nillable="true" type="q1:DataQualityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://goodmanmfg.com/GMC/WebService/DataQualityService/Entities" minOccurs="0" name="ExecuteResult" nillable="true" type="q2:DataQualityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>